{% extends 'base.html' %}
{% load static %}

{% block title %}
    Checkout
{% endblock title %}

{% block container %}
    <div  class="col-lg-4 col-md-6 col-sm-6 pb-1" style="margin-left: auto; margin-right: auto;">
        <div class="h-100 bg-light p-30">
            <h1>Checkout</h1>
            <div class="order-info">
                <h3>Your order</h3>
                <ul>
                    {% for item in cart %}
                        <li>
                            {{ item.quantity }}x {{ item.product.name }}
                            <span>₴{{ item.total_price }}</span>
                        </li>
                    {% endfor %}
                </ul>
                <p>Total: ₴{{ cart.get_total_price }}</p>
            </div>
            <form action="." method="post" class="order-form">
                {{ form.as_p }}
                <p><input class="btn btn-primary px-3" type="submit" value="Place order"></p>
                {% csrf_token %}
            </form>
        </div>
    </div>
{% endblock container %}