.center {
    /*text-align: center;*/
    margin-left: 2%;
    margin-right: 2%;
}

.verse {
    display: table;
    margin: 0 auto;
    /* для центрирования display: table; не нужно указывать ширину блока, она рассчитывается самостоятельно */
    white-space: pre-line;
    /* не нужен <br> */
    word-wrap: break-word;
    /* чтобы слова переносились на маленьком экране */
}