.layer1 {
    /*border: 1px solid #B25538; */
    padding: 10px;
    margin: 20px;
    /* background: #caf8fa;*/
    background: #fff;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.layer {
    /*border: 1px solid #B25538; */
    padding: 10px;
    margin: 20px;
    /* background: #caf8fa;*/
    background: #fff;
    max-width: 400px;
    border-radius: 20px;
}

.news {
    text-align: center;
}