.good {
    border-radius: 20px;
}

.blue {
    background: #caf8fa;
}

table {
    border-collapse: separate;
    /* Способ отображения границы */
    width: 100%;
    /* Ширина таблицы */
    border-spacing: 7px 11px;
    /* Расстояние между ячейками */
}

td {
    padding: 5px;
    /* Поля вокруг текста */
}