{% extends 'base.html' %}
{% load static %}

{% block title %}
    {% if category %}{{ category.title }}{% else %}Products{% endif %}
{% endblock title %}

{% block container %}
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30 good">
                    <a class="breadcrumb-item text-dark" href="/">Головна</a>
                    <a class="breadcrumb-item text-dark" href="{% url 'shop:product_list' %}">Івенти</a>
                    <span class="breadcrumb-item active">Деталі об івентах</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <div  class="col-lg-4 col-md-6 col-sm-6 pb-1" style="margin-left: auto; margin-right: auto;">
        <div class="h-100 bg-light p-30 good">
            <img class="good" src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.jpg' %}{% endif %}"
            style="width:100%; height:auto;">
            <h3 >{{ product.name }}</h3>
            <h5><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h5>
            <p class="mb-4">{{ product.description|linebreaks }}</p>

            <form action="{% url 'cart:cart_add' product.id %}" method="post">
                <p> Обрати кількість учасників вашої групи,
                {{ cart_product_form }}
                </p>
                {% csrf_token %}
                <input class="btn btn-primary px-3" type="submit" value="Заповнити форму">
            </form>
        </div>
    </div>
{% endblock container %}