{% extends 'base.html' %}
{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Events{% endif %}
{% endblock title %}

{% block container %}
    <!-- Breadcrumb Start -->
    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
        <div class="container-fluid">
            <div class="row px-xl-5">
                <div class="col-12">
                    <nav class="breadcrumb bg-light mb-30">
                        <a class="breadcrumb-item text-dark" href="/">Главная</a>
                        <a class="breadcrumb-item text-dark" href="{% url 'shop:product_list' %}">Магазин</a>
                        <span class="breadcrumb-item active">Список товаров</span>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->



    <!--Категории-->
    <div  class="col-lg-4 col-md-6 col-sm-6 pb-1">
        <div id="sidebar">
            <div class="bg-light p-4 mb-30">
                <h3>Категории</h3>
                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <ul>
                        <li {% if not category %}class="selected" {% endif %}>
                            <a class="h6 text-decoration-none text-truncate" href="{% url 'shop:product_list' %}">Все категории</a>
                        </li>
                        {% for c in categories %}
                            <li {% if category.slug == c.slug %}class="selected" {% endif %}>
                                <a class="h6 text-decoration-none text-truncate" href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--Категории end-->

    <!--Products-->
    <div id="main">
        <div  class="col-lg-4 col-md-6 col-sm-6 pb-1" style="margin-left: auto; margin-right: auto;margin-bottom: 1%;">
            <div class="h-100 bg-light p-30">
                <h1 style="text-align: center">{% if category %}{{ category.name }}{% else %}Все продукты{% endif %}</h1>
            </div>
        </div>

        <div class="col-lg-9 col-md-8" style="margin-left: auto; margin-right: auto;">
            <div class="row px-xl-5 pb-3" >
                {% for product in products %}
                    <div  class="col-lg-4 col-md-6 col-sm-6 pb-1">
                        <div class="product-item bg-light mb-4 " >
                            <div class="product-img position-relative overflow-hidden">
                                <a href="{{ product.get_absolute_url }}">
                                    <img class="img-fluid w-100" src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.jpg' %}{% endif %}">
                                </a>
                            </div>
                            <div class="text-center py-4 " >
                                <a class="h6 text-decoration-none text-truncate" href="{{ product.get_absolute_url }}" ><p>{{ product.name }}</p></a><br>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!--Products end-->

{% endblock container %}
