{% extends 'base.html' %}
{% load static %}

{% block title %}My Blog{% endblock %}

{% block container %}
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30 good">
                    <a class="breadcrumb-item text-dark" href="/">Головна</a>
                    <span class="breadcrumb-item active">Статті</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
    <h1 class="news"></h1>
    {% for post in posts %}
        <div class="layer1">
            <h2>
                <a href="{{ post.get_absolute_url }}" >{{ post.title }}</a>
            </h2>
            <p class="date">
                Published {{ post.publish }} by {{ post.author }}
            </p>
            {{ post.body|truncatewords:30|linebreaks }}
        </div>
    {% endfor %}
{% endblock %}