{% extends 'base.html' %}
{% load static %}

{% block title %}
    contact us
{% endblock title %}

{% block container %}
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="/">Главная</a>
                    <span class="breadcrumb-item active">Контакты</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Contact Start -->
    <div class="container-fluid">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Наши Контакты</span></h2>
        <div class="row px-xl-5">
            <div class="col-lg-7 mb-5">
                <div class="contact-form bg-light p-30">
                    <div id=""></div>
                    <h4>Если у вас возникли вопросы,<br>
                        просим связаться с нами о этим данным:</h4>
                    <br>
                    <h3>Email: boo301984@gmail.com</h3>
                    <h3>Tell: +380506169162 - Ксения</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->
{% endblock container %}