{% extends 'base.html' %}
{% load static %}

{% block title %}
    contact us
{% endblock title %}

{% block container %}
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30 good">
                    <a class="breadcrumb-item text-dark" href="/">Головна</a>
                    <span class="breadcrumb-item active">Контакти</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Contact Start -->
    <div class="container-fluid">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Наші контакти</span></h2>
        <div class="row px-xl-5">
            <div class="col-lg-7 mb-5">
                <div class="contact-form bg-light p-30 good">
                    <div id=""></div>
                    <h4>Якщо в вас з'явилися питання,<br>
                        будьте ласкаві, зв'яжіться з нами за цими контактами:</h4>
                    <br>
                    <h4>Email: boo301984@gmail.com</h4>
                    <h4>Tell: ************* </h4>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->
{% endblock container %}