{% extends 'base.html' %}
{% load static %}

{% block title %}
    home
{% endblock title %}

{% block container %}

    <!-- Photo Grid -->
    <div class="row">
      <div class="column">
        <img src="{% static '' %}" style="width:100%">
      </div>
      <div class="column">
        <img src="{% static '' %}" style="width:100%">
      </div>
      <div class="column">
        <img src="{% static '' %}" style="width:100%">
      </div>
      <div class="column">
        <img src="{% static '' %}" style="width:100%">
      </div>
    </div>

{% endblock container %}
