{% extends 'base.html' %}
{% load static %}

{% block title %}
    home
{% endblock title %}

{% block container %}

    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30 good">
                    <a class="breadcrumb-item text-dark" href="/">Главная</a>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
    <div class="main">

    </div>

{% endblock container %}
