{% extends 'base.html' %}
{% load static %}

{% block title %}
    home
{% endblock title %}

{% block container %}
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="/">Главная</a>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Slideshow -->

    <b><h5 style="margin-top: 5%; margin-left: auto; margin-right:
                  auto;
                  display:flex;
                  text-align:center;
                  color:black;
                  border: solid orange 6px; width:70%; border-radius:10px;
                  font-family: 'Brush Script MT', cursive; padding:30px">
        Забота о людях и окружающей среде, в которой они живут,
        удовлетворение их потребностей и помощь в их напряженной
        повседневной жизни – главная цель нашего магазина. Представленные в
        продаже моющие и чистящие средства, соответствуют самым высоким
        экологическим стандартам в Европе. У нас только качественная продукция,
        которая высоко ценится в европейских странах.
    </h5></b>
    <!-- Slideshow End -->

        <!--image start-->
    <div class="container-fluid pt-5">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Бренды</span></h2>

        <div class="row px-xl-5 pb-3">

            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="cat-item d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="{% static 'img/1.jpg' %}" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                            <h6>Mayeri</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="cat-item d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="{% static 'img/2.jpg' %}" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                            <h6>IO</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="cat-item d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="{% static 'img/3.jpg' %}" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                            <h6>Amalfi</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="cat-item d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="{% static 'img/4.jpg' %}" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                            <h6>Nani</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="cat-item d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="{% static 'img/5.jpg' %}" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                            <h6>Eloderma</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="cat-item d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="{% static 'img/6.jpg' %}" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                            <h6>Capitano</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="cat-item d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="{% static 'img/7.jpg' %}" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                            <h6>Perlax</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="cat-item d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="{% static 'img/8.jpg' %}" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                            <h6>Benefit</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="cat-item d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="{% static 'img/9.jpg' %}" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                            <h6>Sweet Home</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="cat-item d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="{% static 'img/10.jpg' %}" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                            <h6>Sweet Care</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="cat-item d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="{% static 'img/11.jpg' %}" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                            <h6>Smart</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="cat-item d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="{% static 'img/12.jpg' %}" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                            <h6>Vilo</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="cat-item d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="{% static 'img/13.jpg' %}" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                            <h6>Irge</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="cat-item d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="{% static 'img/14.jpg' %}" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                            <h6>Jumbo</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="cat-item d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="{% static 'img/15.jpg' %}" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                            <h6>Coccolino</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="cat-item d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="{% static 'img/16.jpg' %}" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                            <h6>Savo</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="cat-item d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="{% static 'img/17.jpg' %}" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                            <h6>Chante Clair</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="cat-item d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="{% static 'img/17.jpg' %}" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                            <h6>Chante Clair</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="cat-item d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="{% static 'img/18.jpg' %}" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                            <h6>W5</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="cat-item d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="{% static 'img/19.jpg' %}" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                            <h6>Viakal</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="cat-item d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="{% static 'img/20.jpg' %}" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                            <h6>Dash</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="cat-item d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="{% static 'img/22.jpg' %}" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                            <h6>Formil</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="cat-item d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="{% static 'img/23.jpg' %}" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                            <h6>Felce Azzura</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="cat-item d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="{% static 'img/24.jpg' %}" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                            <h6>Dixan</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="cat-item d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="{% static 'img/25.jpg' %}" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                            <h6>Dermo Med</h6>
                    </div>
                </div>
            </div>



        </div>
    </div>
    <!--image end-->

    <!-- Photo Grid -->
    <div class="header" style="width:80%">
        <div class="header">
          <h1>Галерея</h1>
        </div>
        <div class="row">
          <div class="column">
            <img src="{% static 's_img/2.jpg' %}" style="width:100%">
            <img src="{% static 's_img/3.jpg' %}" style="width:100%">
            <img src="{% static 's_img/4.jpg' %}" style="width:100%">
            <img src="{% static 's_img/5.jpg' %}" style="width:100%">
            <img src="{% static 's_img/21.jpg' %}" style="width:100%">
            <img src="{% static 's_img/22.jpg' %}" style="width:100%">
            <img src="{% static 's_img/23.jpg' %}" style="width:100%">
            <img src="{% static 's_img/24.jpg' %}" style="width:100%">
            <img src="{% static 's_img/25.jpg' %}" style="width:100%">
          </div>
          <div class="column">
            <img src="{% static 's_img/6.jpg' %}" style="width:100%">
            <img src="{% static 's_img/7.jpg' %}" style="width:100%">
            <img src="{% static 's_img/8.jpg' %}" style="width:100%">
            <img src="{% static 's_img/9.jpg' %}" style="width:100%">
            <img src="{% static 's_img/10.jpg' %}" style="width:100%">
            <img src="{% static 's_img/26.jpg' %}" style="width:100%">
            <img src="{% static 's_img/27.jpg' %}" style="width:100%">
            <img src="{% static 's_img/28.jpg' %}" style="width:100%">
          </div>
          <div class="column">
            <img src="{% static 's_img/11.jpg' %}" style="width:100%">
            <img src="{% static 's_img/12.jpg' %}" style="width:100%">
            <img src="{% static 's_img/13.jpg' %}" style="width:100%">
            <img src="{% static 's_img/14.jpg' %}" style="width:100%">
            <img src="{% static 's_img/15.jpg' %}" style="width:100%">
            <img src="{% static 's_img/31.jpg' %}" style="width:100%">
            <img src="{% static 's_img/32.jpg' %}" style="width:100%">
            <img src="{% static 's_img/33.jpg' %}" style="width:100%">
           </div>
           <div class="column">
            <img src="{% static 's_img/16.jpg' %}" style="width:100%">
            <img src="{% static 's_img/17.jpg' %}" style="width:100%">
            <img src="{% static 's_img/18.jpg' %}" style="width:100%">
            <img src="{% static 's_img/19.jpg' %}" style="width:100%">
            <img src="{% static 's_img/20.jpg' %}" style="width:100%">
            <img src="{% static 's_img/29.jpg' %}" style="width:100%">
            <img src="{% static 's_img/30.jpg' %}" style="width:100%">
            <img src="{% static 's_img/1.jpg' %}" style="width:100%">
          </div>
        </div>
    </div>
{% endblock container %}
